﻿.pdm{
    padding-right:10px;
}

.modal-lg {
  width: 900px;
}

.texto-right{
    text-align: right;
}

.btn.btn-default.active{
    background: #f0ad4e !important;
    color:white;
    border-color: #eea236
}

.fnt-12{
    font-size:12px;
}
.label.label-Excelente{
    background:#ff6a00;
}
.label.label-Otimo{
    background:#eea236;
}
.label.label-Bom{
    background:#e07326;
}
.label.label-Regular{
    background:#b10e0e;
}
.label.label-Ruim{
    background:#fe0505;
}