﻿body {
    padding-top: 70px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}



.head-logo h1 a {
    font-family: 'Iceland', cursive;
    font-weight: 600;
    text-decoration: none;
    color: #ffa800;
    font-size: 1.5em;
    line-height: 0;
}

    .head-logo h1 a img {
        vertical-align: top;
        margin-right: 3px;
    }

.texto-branco {
    color: white;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}