﻿@model IEnumerable<LeiLaoExpress.Domain.Model.Carga>

@{
    ViewBag.Title = "Minhas Cargas";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Cadastrar nova Carga", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dimensao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fragil)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Peso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dimensao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fragil)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Deletar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
