﻿@model LeiLaoExpress.UI.MVC.Models.Client.ManageClientViewModel

@{
    ViewBag.Title = Text.Manage;
}

<h2>@ViewBag.Title - @Text.Profile</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Adress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Adress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Adress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group hide">
            @Html.LabelFor(model => model.CNPJ, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CNPJ, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.CNPJ, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group hide">
            @Html.LabelFor(model => model.CPF, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CPF, new { htmlAttributes = new { @class = "form-control ", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.CPF, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TypeOfClient, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.TypeOfClient, Inputs.OptionLabel, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TypeOfClient, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Inputs.Send" class="btn btn-success" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        var typeOfClientFisica = @((int)LeiLaoExpress.Domain.Enum.TypeOfClient.Fisica);
        var typeOfClientJuridica = @((int)LeiLaoExpress.Domain.Enum.TypeOfClient.Juridica);
        $("#TypeOfClient").on("change", function (e) {
            e.preventDefault();
            var valor = $(this).val();
            if(valor == typeOfClientFisica)
            {
                $("#CPF").removeAttr("disabled");
                $("#CPF").parent().parent().removeClass("hide");

                $("#CNPJ").attr("disabled");
                $("#CNPJ").parent().parent().addClass("hide");
            }else if (valor == typeOfClientJuridica)
            {
                $("#CNPJ").removeAttr("disabled");
                $("#CNPJ").parent().parent().removeClass("hide");

                $("#CPF").attr("disabled");
                $("#CPF").parent().parent().addClass("hide");
            }else {
                $("#CNPJ").attr("disabled");
                $("#CNPJ").parent().parent().addClass("hide");
                $("#CPF").attr("disabled");
                $("#CPF").parent().parent().addClass("hide");
            }
        });
    </script>
}

