﻿@model IEnumerable<LeiLaoExpress.Domain.Model.Feedback>
@using LeiLaoExpress.Domain.Enum;

<div class="modal fade" id="feedback-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="myModalLabel">@ViewBag.Nome</h4>
                <hr />
                <div class="text-center">
                    <span class="label label-Excelente">Excelente - @Model.Count(x => x.Classificacao == Classificacao.Excelente)</span>
                    <span class="label label-Otimo">Otimo - @Model.Count(x => x.Classificacao == Classificacao.Otimo)</span>
                    <span class="label label-Bom">Bom - @Model.Count(x => x.Classificacao == Classificacao.Bom)</span>
                    <span class="label label-Regular">Regular - @Model.Count(x => x.Classificacao == Classificacao.Regular)</span>
                    <span class="label label-Ruim">Ruim - @Model.Count(x => x.Classificacao == Classificacao.Ruim)</span>
                </div>
            </div>
                <div class="modal-body">
                    <table class="table table-striped">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Comentario)
                            </th>
                            <th>
                                Contratante
                            </th>
                            <th>Serviço</th>
                        </tr>

                        @foreach (var item in Model.OrderByDescending(x=>x.Id))
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Comentario)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Oportunidade.User.Cliente.Nome)
                                </td>
                                <td>
                                    <span class="label label-@item.Classificacao fnt-12">
                                        @item.Classificacao.ToString()
                                    </span>
                                </td>
                            </tr>
                        }

                    </table>
                </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#feedback-modal").modal();
    });
</script>
