﻿@model LeiLaoExpress.Domain.Model.Feedback

<div class="modal fade" id="feedback-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">@Text.DarUmLance</h4>
            </div>@using (Html.BeginForm())
            {
                <div class="modal-body">
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(x => x.FornecedorId)
                        @Html.HiddenFor(x => x.OportunidadeId)

                        <div class="form-group">
                            @Html.LabelFor(model => model.Comentario, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Comentario,4,40, new { @class = "form-control" } )
                                @Html.ValidationMessageFor(model => model.Comentario, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Classificacao, "Classificação", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.HiddenFor(model => model.Classificacao)
                                <div id="estrelas" class="btn-group" role="group" aria-label="...">
                                    <button type="button" class="btn btn-default" data-value="@Classificacao.Ruim">@Classificacao.Ruim</button>
                                    <button type="button" class="btn btn-default" data-value="@Classificacao.Regular">@Classificacao.Regular</button>
                                    <button type="button" class="btn btn-default" data-value="@Classificacao.Bom">@Classificacao.Bom</button>
                                    <button type="button" class="btn btn-default" data-value="@Classificacao.Otimo">@Classificacao.Otimo</button>
                                    <button type="button" class="btn btn-default" data-value="@Classificacao.Excelente">@Classificacao.Excelente</button>
                                </div>
                                @Html.ValidationMessageFor(model => model.Classificacao, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">@Text.Cancelar</button>
                    <input type="submit" value="@Text.Salvar" class="btn btn-success" />
                </div>
            }
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#feedback-modal").modal();

        $(function () {
            $('#estrelas button').on('click', function () {
                var el = $(this);
                $('#estrelas button').removeClass('active');
                el.addClass('active');
                $('#Classificacao').val(el.data('value'));
            });
        });
    });
</script>