﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Text.NameSystem</title>
    @Styles.Render("~/Content/cssHome")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/appDialog")
    <link href='http://fonts.googleapis.com/css?family=Montserrat|Raleway:400,200,300,500,600,700,800,900,100' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Iceland' rel='stylesheet' type='text/css'>
</head>
<body class="banner">
    <!-- banner -->
    <div>
        <div class="container">
            <div class="header">
                <div class="col-md-4 head-logo">
                    <h1><a href="@Url.Action("Index", "Home")">Leilão <span class="texto-branco">Express</span></a></h1>
                </div>
                <div class="col-md-8">
                    <div class="top-menu pull-right">
                        <span class="menu"><img src="~/Content/template/images/nav-icon.png"></span>
                        <ul>
                            @Html.Partial("_Menu")
                            @*<li class="nav navbar-nav"><a class="scroll" href="#about">About</a></li>*@
                            @Html.Partial("_LoginPartial")
                            <div class="clearfix"></div>
                        </ul>
                        <!-- script-for-menu -->
                        <script>

                            $("span.menu").click(function () {
                                $(".top-menu ul").slideToggle("slow", function () {
                                });
                            });
                        </script>
                        <!-- script-for-menu -->

                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            @*<div class="top-menu">
                    <span class="menu"><img src="~/Content/template/images/nav-icon.png"></span>
                    <ul>
                        <li class="active"><a href="@Url.Action("Index", "Home")" class="scroll">Home</a></li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink(Inputs.Opportunity, "Index", "Opportunity")</li>
                        }
                        <li><a class="scroll" href="#about">About</a></li>
                        <li><a class="scroll" href="#services">Service</a></li>
                        <li><a href="projects.html">Projects</a></li>
                        <li><a href="news.html">News & Events</a></li>
                        <li><a href="team.html">Team</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <div class="clearfix"></div>
                    </ul>
                    <!-- script-for-menu -->
                    <script>

                        $("span.menu").click(function () {
                            $(".top-menu ul").slideToggle("slow", function () {
                            });
                        });
                    </script>
                    <!-- script-for-menu -->

                </div>*@
        </div>
        <!-- //container -->
        <div class="container body">

            @RenderBody()

            <script src="js/responsiveslides.min.js"></script>
            <script>
                // You can also use "$(window).load(function() {"
                $(function () {
                    // Slideshow 4
                    $("#slider3,#slider2").responsiveSlides({
                        auto: true,
                        pager: true,
                        nav: false,
                        speed: 500,
                        namespace: "callbacks",
                        before: function () {
                            $('.events').append("<li>before event fired.</li>");
                        },
                        after: function () {
                            $('.events').append("<li>after event fired.</li>");
                        }
                    });

                });
            </script>


        </div>
    </div>

    <!-- #region Parte do layout -->
    @*<!-- about -->
        <div id="about" class="about">
            <div class="container">
                <div class="about-head">
                    <h3>About Us</h3>
                    <span></span>
                    <p>
                        Nulla eget mauris quis elit mollis ornare vitae ut odio. Cras tincidunt, augue vitae sollicitudin commodo, quam elit
                        varius est, et ornare ante massa quis tellus. Mauris nec lacinia nisl. Curabitur tempus tellus et vulputate vestibulum.
                    </p>
                </div>
                <div class="about-grids">
                    <div class="col-md-4 bottom-grid text-center">
                        <div class="btm-info">
                            <div class="icon">
                                <img src="~/Content/template/images/ic1.png" alt="">
                            </div>
                            <h4>Henderit Mauris</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 bottom-grid text-center">
                        <div class="btm-info">
                            <div class="icon">
                                <img src="~/Content/template/images/ic2.png" alt="">
                            </div>
                            <h4>Praesent Vestibut</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 bottom-grid text-center">
                        <div class="btm-info">
                            <div class="icon">
                                <img src="~/Content/template/images/ic3.png" alt="">
                            </div>
                            <h4>Consectetu Bibendum</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
                            </p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="about-pics">
                    <div class="col-md-6 pic-grid">
                        <img src="~/Content/template/images/pic1.jpg" alt="" />
                        <h4>Industry</h4>
                        <p>Aenean feugiat mauris sed risus suscipit, eget scelerisque metus placerat Sed eu quam ut orci ullamcorper tincidunt ac ac quam.</p>
                    </div>
                    <div class="col-md-6 pic-grid">
                        <img src="~/Content/template/images/pic2.jpg" alt="" />
                        <h4>Industry</h4>
                        <p>Donec congue lacus nec turpis Sed eu quam ut orci ullamcorper tincidunt ac ac quam. condimentum, non imperdiet tellus elementum.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- services -->
        <div id="services" class="services">
            <div class="container">
                <div class="service-head">
                    <h3>Services</h3>
                    <span></span>
                    <p>
                        Nulla eget mauris quis elit mollis ornare vitae ut odio. Cras tincidunt, augue vitae sollicitudin commodo, quam elit
                        varius est, et ornare ante massa quis tellus. Mauris nec lacinia nisl. Curabitur tempus tellus et vulputate vestibulum.
                    </p>
                </div>
                <div class="service_grids">
                    <div class="col-md-3 service_grid text-center">
                        <img src="~/Content/template/images/s1.png" alt="" />
                        <h6><a href="#">Vestibulum Molestie</a></h6>
                        <p>Praesent vestibuluolestie lacus</p>
                    </div>
                    <div class="col-md-3 service_grid text-center">
                        <img src="~/Content/template/images/s2.png" alt="" />
                        <h6><a href="#">Elementum</a></h6>
                        <p>Praesent vestibuluolestie lacus</p>
                    </div>
                    <div class="col-md-3 service_grid text-center">
                        <img src="~/Content/template/images/s3.png" alt="" />
                        <h6><a href="#">Nonummy Hendrert</a></h6>
                        <p>Praesent vestibuluolestie lacus</p>
                    </div>
                    <div class="col-md-3 service_grid text-center">
                        <img src="~/Content/template/images/s4.png" alt="" />
                        <h6><a href="#">Purus Trustique</a></h6>
                        <p>Praesent vestibuluolestie lacus</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="ser_sec">
                    <div class="col-md-3 service_grid text-center">
                        <img src="~/Content/template/images/s5.png" alt="" />
                        <h6><a href="#">Vestibulum Molestie</a></h6>
                        <p>Praesent vestibuluolestie lacus</p>
                    </div>
                    <div class="col-md-3 service_grid text-center">
                        <img src="~/Content/template/images/s6.png" alt="" />
                        <h6><a href="#">Elementum</a></h6>
                        <p>Praesent vestibuluolestie lacus</p>
                    </div>
                    <div class="col-md-3 service_grid text-center">
                        <img src="~/Content/template/images/s7.png" alt="" />
                        <h6><a href="#">Nonummy Hendrert</a></h6>
                        <p>Praesent vestibuluolestie lacus</p>
                    </div>
                    <div class="col-md-3 service_grid text-center">
                        <img src="~/Content/template/images/s8.png" alt="" />
                        <h6><a href="#">Purus Trustique</a></h6>
                        <p>Praesent vestibuluolestie lacus</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!--slider-->
        <!----->
        <script>
            $(function () {
                $("#slider2").responsiveSlides({
                    auto: true,
                    speed: 500,
                    namespace: "callbacks2",
                    pager: true,
                });
            });
        </script>

        <div class="slider btm_sld">
            <div class="container">
                <div class="callbacks2_container">
                    <ul class="rslides" id="slider2">
                        <li>
                            <p>
                                Curabitur pharetra sed magna at tincidunt. Maecenas auctor tincidunt ex.
                                Aliquam a vestibulum Donec diam ipsum euismod.
                            </p>
                        </li>
                        <li>
                            <p>
                                Fusce erat nibh, ornare et suscipit non, varius a sapien. Donec vel lectus
                                vitae nibh sodales semper. Donec diam ipsum.
                            </p>
                        </li>
                        <li>
                            <p>
                                Proin tincidunt sit amet velit quis dignissim. Donec et odio sed purus tristique
                                vitae nibh imperdiet diam sed eget metus.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!---->
        <div class="products">
            <div class="container">
                <div class="col-md-8 product-grids">
                    <h3>Project Construction</h3>
                    <div class="product-grid">
                        <img src="~/Content/template/images/pc1.jpg" alt="" />
                        <h4><a href="project.html">Posuere vivamus vel.</a></h4>
                        <p>It is a long established fact that a reader will be distracted by when looking at its layout.</p>
                    </div>
                    <div class="product-grid">
                        <img src="~/Content/template/images/pc2.jpg" alt="" />
                        <h4><a href="project.html">Nullam venenatis lacus.</a></h4>
                        <p>It is a long established fact that a reader will be distracted by when looking at its layout.</p>
                    </div>
                    <div class="product-grid">
                        <img src="~/Content/template/images/pc3.jpg" alt="" />
                        <h4><a href="project.html">Vivamus vel posuere.</a></h4>
                        <p>It is a long established fact that a reader will be distracted by when looking at its layout.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-4 product-lists">
                    <h3>Our Productions</h3>
                    <ul class="list1">
                        <li><a href="#">>  &nbsp;&nbsp Lorem ipsum dolor sit amet, consectetur elit.</a></li>
                        <li><a href="#">>  &nbsp;&nbsp Vivamus vel posuere vestibulum urna.</a></li>
                        <li><a href="#">>  &nbsp;&nbsp Nullam venenatis lacus a elit fermentum.</a></li>
                        <li><a href="#">>  &nbsp;&nbsp Morbi ut sapien nec nisl pulvinar suscipit.</a></li>
                        <li><a href="#">>  &nbsp;&nbsp Integer a enim ac ex porta molestie ut at ex.</a></li>
                        <li><a href="#">>  &nbsp;&nbsp Sed in nunc non eleifend laoreet eu quis elit.</a></li>
                        <li><a href="#">>  &nbsp;&nbsp Nullam venenatis lacus fermentum.</a></li>
                        <li><a href="#">>  &nbsp;&nbsp Lorem ipsum dolor sit amet, consectetur elit.</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>*@

    <!-- #endregion -->
    <!----- news-letter ----->
    <!---->
    <!-- #region Footer -->
    @*<div class="footer1">
            <div class="container">
                <div class="ftr1-grids">
                    <div class="col-md-4 ftr-grid1">
                        <div class="head-logo logo">
                            <h1><a href="javascript:void(0)">Leilão <span class="texto-branco">Express</span></a></h1>
                        </div>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                            The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
                        </p>
                        <a class="view" href="#">View ALL ABOUT US <i class="view"></i></a>
                    </div>
                    <div class="col-md-4 frt-grid2">
                        <h3>Latest <span>Tweets</span></h3>
                        <div class="ftr-grid">
                            <p>
                                It is a long established fact that a
                                reader will be distracted by the of a reader page when at its layout.
                            </p>
                            <a href="#">1 Hour ago</a>
                        </div>
                        <div class="ftr-grid">
                            <p>
                                It is a long established fact that a
                                reader will be distracted by the of a reader page when at its layout.
                            </p>
                            <a href="#">2 Hour ago</a>
                        </div>
                    </div>
                    <div class="col-md-4 ftr-grid3">
                        <h3>Subscribe to our <span>Newsletter</span></h3>
                        <form>
                            <input type="text" placeholder="Enter Email here" required />
                            <input type="submit" value="Subscribe Now" />
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>*@

    <!-- #endregion -->
    <!---->
    @*<div class="copywrite">
            <div class="container">
                <p>Copyright © 2015 Leilão Express Todos os direitos reservados</p>
            </div>
        </div>*@
    <!---->
    @*<a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>*@
    <!---->
    <div id="main-modal"></div>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink(Text.NameSystem, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink(Inputs.Opportunity, "Index", "Opportunity")</li>
                        }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@
    @*<div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p class="text-center">&copy; @DateTime.Now.Year - @Text.NameSystem</p>
            </footer>
        </div>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/main")
    @RenderSection("scripts", required: false)
</body>
</html>
