﻿@using Microsoft.AspNet.Identity
@using System.Security.Claims
@{
    var identity = (ClaimsIdentity)User.Identity;

    var EmailConfirm = identity.Claims.FirstOrDefault(c => c.Type == "EmailConfirm");
    var TypeOfUser = identity.Claims.FirstOrDefault(c => c.Type == "TypeOfUser");
}
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right dropdown-toggle", toggle = "dropdown" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">@User.Identity.GetUserName() <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        @Html.ActionLink(Text.Manage, "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                    </li>


                    @if (TypeOfUser != null && TypeOfUser.Value == LeiLaoExpress.Domain.Enum.TypeOfUser.Cliente.ToString())
                    {
                        <li><a href="@Url.Action("MinhasOportunidades", "Opportunity")">Minhas Oportunidades</a></li>
                        <li><a href="@Url.Action("Index", "Carga")">Minhas Cargas</a></li>
                    }
                    else
                        if (TypeOfUser != null && TypeOfUser.Value == LeiLaoExpress.Domain.Enum.TypeOfUser.Fornecedor.ToString())
                        {
                            <li><a href="@Url.Action("Index", "Lance")">Minhas Ofertas</a></li>
                        }
                    @if (EmailConfirm != null && EmailConfirm.Value == "False")
                    {
                        <li role="presentation" class="divider"></li>
                        <li>
                            <a href="javascript:void(0)" id="enviarCodigoConfirmacaoEmail">@Text.EmailConfirm</a>
                        </li>
                    }
                    <li role="presentation" class="divider"></li>
                    <li>
                        <a href="javascript:document.getElementById('logoutForm').submit()">@Text.Logoff</a>
                    </li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(Text.Register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(Text.Login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
