﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = Text.Error;
}

<h1 class="text-danger">@Text.Error.</h1>
<h2 class="text-danger">@Errors.AnErrorOccurredWhileProcessingYourRequest.</h2>

