﻿@model LeiLaoExpress.UI.MVC.Models.Manage.IndexViewModel
@{
    ViewBag.Title = Text.Manage;
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>@Text.ChangeYourAccountSettings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Text.Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink(Text.ChangePassword, "ChangePassword")
            }
            else
            {
                @Html.ActionLink(Text.Create, "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>
