﻿@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div id="top" class="callbacks_container">
    <ul class="rslides" id="slider3">
        <li>
            <div class="banner-info">
                <h3>Proporcionando um cenário amigável e de fácil manuseio</h3>
                <p>Leilão Express é um sistema gratuito feito para auxilar na negociação entre empresas e transportadoras.</p>
            </div>
        </li>
    </ul>
</div>