﻿@{
    ViewBag.Title = Text.ConfirmEmail;
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        @Text.ThankYouForConfirmingYourEmailPlease @Html.ActionLink(Text.ClickHereTologin, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
