﻿@model LeiLaoExpress.UI.MVC.Models.Account.ForgotPasswordViewModel
@{
    ViewBag.Title = Text.ForgotPassword;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>@Text.EnterYourEmail</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Email, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-success" value="@Inputs.Send" />
        </div>
    </div>
}

@*@using (Ajax.BeginForm("ForgotPassword", "Account", new AjaxOptions { HttpMethod = "Post", OnSuccess = "showMessage" }, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>@Text.EnterYourEmail</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Email, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-success" value="@Inputs.Send" />
            </div>
        </div>
    }


    <div id="somedialog" class="dialog">
        <div class="dialog__overlay"></div>
        <div class="dialog__content">
            <div class="morph-shape" data-morph-open="M199.5,100c0,54.955-44.768,99.5-100,99.5s-100-44.545-100-99.5c0-54.956,44.769-99.5,100-99.5
        S199.5,45.044,199.5,100z">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 200 200" preserveAspectRatio="xMidYMid meet">
                    <path d="M199.5,100c0,0.552-44.768,1-100,1s-100-0.448-100-1s44.769-1,100-1S199.5,99.448,199.5,100z"></path>
                </svg>
            </div>
            <div class="dialog-inner">
                <h2 class="msg-box"></h2><div><button class="action" data-dialog-close>Close</button></div>
            </div>
        </div>
    </div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @*<script>
            function showMessage(data) {
                var msgSuccess = '@Text.PleaseCheckYourEmailToResetYourPassword';
                $(".msg-box").text(msgSuccess);
                var dlgtrigger = document.querySelector('[data-dialog]'),

                    somedialog = document.getElementById(dlgtrigger.getAttribute('data-dialog')),
                    // svg..
                    morphEl = somedialog.querySelector('.morph-shape'),
                    s = Snap(morphEl.querySelector('svg')),
                    path = s.select('path'),
                    initialPath = path.attr('d'),
                    steps = {
                        open: morphEl.getAttribute('data-morph-open')
                    },
                    dlg = new DialogFx(somedialog, {
                        onOpenDialog: function (instance) {
                            // reset path
                            morphEl.querySelector('svg > path').setAttribute('d', initialPath);
                            // animate path
                            path.stop().animate({ 'path': steps.open }, 300, mina.easein);
                        }
                    });

                dlgtrigger.addEventListener('click', dlg.toggle.bind(dlg));
                dlgtrigger.click();
            }
        </script>*@

}
