﻿@{
    ViewBag.Title = Text.ResetPassword;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @Text.YourPasswordHasBeenResetPlease @Html.ActionLink(Text.ClickHereTologin, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
