﻿@model Oportunidade
@{
    ViewBag.Title = Text.Cadastrar;
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Create", null, new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Label(Text.Origem, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Origem, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Origem, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label(Text.Destino, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Destino, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Destino, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label(Text.DataColeta, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.DataColeta, new { @class = "form-control datepicker" })
                        @Html.ValidationMessageFor(m => m.DataColeta, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label(Text.DataEntrega, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.DataEntrega, new { @class = "form-control datepicker" })
                        @Html.ValidationMessageFor(m => m.DataEntrega, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Carga", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.DropDownList("CargaId",null, new { @class = "form-control" })
                        @Html.ValidationMessage("CargaId", "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-success" value="@Text.Cadastrar" />
                        @Html.ActionLink(Text.Voltar, "Index", null, new { @class = "btn btn-primary" })
                    </div>
                </div>
            }
        </section>
    </div>
</div>
