﻿@model Oportunidade
@{
    ViewBag.Title = Text.Detalhar;
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            <form class="form-horizontal">
                @Html.HiddenFor(X => X.Id)
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Label(Text.Origem, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Origem, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(m => m.Origem, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label(Text.Destino, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Destino, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(m => m.Destino, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label(Text.DataColeta, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.DataColeta, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(m => m.DataColeta, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label(Text.DataEntrega, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.DataEntrega, "{0:dd/MM/yyyy}", new { @class = "form-control" , @readonly="readonly" })
                        @Html.ValidationMessageFor(m => m.DataEntrega, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.ActionLink(Text.Editar, "Edit", new { Id = Model.Id }, new { @class = "btn btn-warning" })
                        @Html.ActionLink(Text.Voltar, "Index", null, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
