﻿@model LeiLaoExpress.Domain.Model.Oportunidade

@{
    ViewBag.Title = Text.DetalharDaOportunidade;
}

<h2>@ViewBag.Title</h2>

<div>
    <div class="row">
        <div class="col-md-4">
            <h4>
                Serão aceito lances até o fim do leilão ou até o dono da oportunidade selecionar um fornecedor.
            </h4>
        </div>
        @if ((bool)ViewBag.Encerrada)
        {
            <h4 class="pull-rigth texto-right text-danger">Oportunidade encerrada.</h4>
            if (!(bool)ViewBag.IsFornecedor && ViewBag.AtivarFeedback)
            {
                <text>
                    @Ajax.ActionLink("Feedback", "ModalCreate", "Feedback", new { idOportunidade = Model.Id }, new AjaxOptions { UpdateTargetId = "main-modal", HttpMethod = "GET" }, new { @class = "btn btn-warning pull-right " })
                </text>
            }
        }
        else
        {
            <h4 class="pull-rigth texto-right">Tempo restante para encerramento da Oportunidade</h4>
            <div id="contador" class="col-md-4 pull-right"></div>
        }
    </div>
    <hr />
    <div class="">
        <div class="row">
            <div class="col-md-6 pdm">
                <div class="form-group">
                    @Html.LabelFor(model => model.Origem, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.Origem, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>
            <div class="col-md-6 pdm">
                <div class="form-group">
                    @Html.LabelFor(model => model.Destino, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.Destino, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>
            <div class="col-md-6 pdm">
                <div class="form-group">
                    @Html.Label(Text.DataColeta, htmlAttributes: new { @class = "control-label " })
                    @Html.TextBoxFor(model => model.DataColeta, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                </div>

            </div>
            <div class="col-md-6 pdm">
                <div class="form-group">
                    @Html.Label(Text.DataEntrega, htmlAttributes: new { @class = "control-label " })
                    @Html.TextBoxFor(model => model.DataEntrega, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
@if (Model.Lances.Any())
{
    <div class="container">
        <h3 class="text-center">Lances</h3>
        <hr />
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>@Text.Fornecedor</td>
                    <td>@Text.DataColeta</td>
                    <td>@Text.DataEntrega</td>
                    <td>@Text.Valor</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Lances.OrderBy(x => x.Valor).ThenByDescending(x => x.DataColeta).ThenByDescending(x => x.DataEntrega))
                {
                    <tr class="@(item.Escolhida ? "success":"")">
                        <td>@item.Fornecedor.Nome</td>
                        <td>@item.DataColeta.ToString("dd/MM/yyyy")</td>
                        <td>@item.DataEntrega.ToString("dd/MM/yyyy")</td>
                        <td>R$@item.Valor</td>
                        <td>
                            @if (!(bool)ViewBag.IsFornecedor && !(bool)ViewBag.Encerrada)
                            {
                                @Html.ActionLink("Selecionar serviço", "SelecionarServico", new { id = item.Id }, new { @class = "btn btn-success" })
                            }
                            @Ajax.ActionLink("Reputação", "Index", "Feedback", new { id = item.Fornecedor.UserId }, new AjaxOptions { UpdateTargetId = "main-modal", HttpMethod = "GET" }, new { @class = "btn btn-info" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}
<p>
    @if ((bool)ViewBag.IsFornecedor)
    {
        @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-primary" })
    }
    else
    {
        @Html.ActionLink("Voltar", "MinhasOportunidades", null, new { @class = "btn btn-primary" })
    }
    @if ((bool)ViewBag.IsFornecedor && Model.DataColeta.AddDays(3).Date > DateTime.Now.Date)
    {
        @Ajax.ActionLink(Text.DarUmLance, "LanceModal", "Lance", new { OportunidadeId = Model.Id }, new AjaxOptions { UpdateTargetId = "main-modal", HttpMethod = "GET" }, new { @class = "btn btn-info" })
    }
</p>


@section scripts{

    @Scripts.Render("~/bundles/jqueryval")

    <link href="~/Content/jquery.countdown.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.plugin.js"></script>
    <script src="~/Scripts/jquery.countdown.js"></script>
    <script src="~/Scripts/jquery.countdown-pt-BR.js"></script>
    <script>
        $(function () {
            var encerramento = new Date(@Model.DataColeta.AddDays(-3).Year, @Model.DataColeta.AddDays(-3).Month -1, @Model.DataColeta.AddDays(-3).Day);
            $('#contador').countdown({ until: encerramento, format: 'yowdHMS' });
        });
    </script>
}