﻿@model IEnumerable<Oportunidade>

@{
    ViewBag.Title = Text.Oportunidades;
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName(Text.Origem)
            </th>
            <th>
                @Html.DisplayName(Text.Destino)
            </th>
            <th>
                @Html.DisplayName(Text.DataColeta)
            </th>
            <th>
                @Html.DisplayName(Text.DataEntrega)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Origem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Destino)
                </td>
                <td>
                    @item.DataColeta.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @item.DataEntrega.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @if ((bool)ViewBag.IsFornecedor && !item.Lances.Any(x=>x.Escolhida))
                    {
                        <text>
                    @Html.ActionLink(Text.DarUmLance, "Create", "Lance", new { idOportunidade = item.Id }, new { @class = "btn btn-success" })
</text>
                    }
                    @Html.ActionLink(Text.Detalhar, "DetalharOportunidade", null, new { Id = item.Id }, new { @class = "btn btn-info" })
                </td>
            </tr>
        }
    </tbody>
</table>
