﻿@model IEnumerable<Oportunidade>

@{
    ViewBag.Title = Text.Oportunidades;
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink(Text.Cadastrar, "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName(Text.Origem)
            </th>
            <th>
                @Html.DisplayName(Text.Destino)
            </th>
            <th>
                @Html.DisplayName(Text.DataColeta)
            </th>
            <th>
                @Html.DisplayName(Text.DataEntrega)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Origem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Destino)
                </td>
                <td>
                    @item.DataColeta.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @item.DataEntrega.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.ActionLink(Text.Editar, "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })
                    @Html.ActionLink(Text.Deletar, "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                    @Html.ActionLink("Gerenciar Oportunidade", "DetalharOportunidade", new { id = item.Id }, new { @class = "btn btn-info" })
                </td>
            </tr>
        }
    </tbody>
</table>
